﻿@model Web_mvc.Models.PeriodicalAuthorCreateModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="section section-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Создать под администратором</h1>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col align-self-center">
                <div class="basic-login">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(model => model.PeriodicalCreateModel.Title)
                                @Html.EditorFor(model => model.PeriodicalCreateModel.Title, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PeriodicalCreateModel.Title, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.PeriodicalCreateModel.PublicationFrequencyDays)
                                @Html.EditorFor(model => model.PeriodicalCreateModel.PublicationFrequencyDays, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PeriodicalCreateModel.PublicationFrequencyDays, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.PeriodicalCreateModel.Description)
                                @Html.EditorFor(model => model.PeriodicalCreateModel.Description, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PeriodicalCreateModel.Description, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                <label>Жанры</label>
                                @Html.ListBoxFor(model => model.PeriodicalCreateModel.GenresIds, Model.PeriodicalCreateModel.GenreChoices, new { @class = "js-example-basic-multiple form-control" })
                                @Html.HiddenFor(model => model.PeriodicalCreateModel.AuthorId)
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.PeriodicalCreateModel.Text)
                                @Html.TextAreaFor(model => model.PeriodicalCreateModel.Text, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.PeriodicalCreateModel.Text, "", new { @class = "text-danger" })
                            </div>
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="form-actions no-color">
                                <input type="submit" value="Создать" class="btn btn-default" /> |
                                <a href="@ViewBag.returnUrl">Назад</a>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}