﻿@model Web_mvc.Models.PeriodicalViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="section section-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Инфо об издании</h1>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col align-self-center">
                <div class="basic-login">
                    <div class="text-center product-details">
                        <h4>@Html.DisplayNameFor(model => model.Title): @Html.DisplayFor(model => model.Title)</h4>
                        <div class="price">
                            @Html.DisplayNameFor(model => model.PublicationFrequencyDays): каждые @Html.DisplayFor(model => model.PublicationFrequencyDays) дн.
                        </div>
                    </div>
                    <br>
                    <div class="col-sm-12">
                        <div class="tabbable bigData">
                            <ul class="nav nav-tabs product-details-nav">
                                <li class="active"><a href="#tab1" data-toggle="tab">@Html.DisplayNameFor(model => model.Description)</a></li>
                                <li><a href="#tab2" data-toggle="tab">@Html.DisplayNameFor(model => model.Text)</a></li>
                            </ul>
                            <div class="tab-content product-detail-info">
                                <div class="tab-pane active" id="tab1">
                                    <p>
                                        @Html.DisplayFor(model => model.Description)
                                    </p>
                                </div>
                                <div class="tab-pane" id="tab2">
                                    <p>
                                        @Html.DisplayFor(model => model.Text)
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p>
                        @if (User.IsInRole("Admin") || User.IsInRole("Author"))
                        {
                            @Html.ActionLink("Редактировать", "Edit", new { id = Model.Id });<span> | </span>
                        }
                        <a href="@ViewBag.returnUrl">Назад</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
