﻿@model Web_mvc.Models.PeriodicalIndexViewModel
@using Web_mvc.Helpers

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="section section-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Издания</h1>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                @if (User.IsInRole("Author"))
                {
                    <p>
                        @Html.ActionLink("Добавить", "Create")
                    </p>
                }
                else if (User.IsInRole("Admin"))
                {
                    <p>
                        @Html.ActionLink("Добавить", "CreateByAdmin")
                    </p>
                }
                <table class="table jobs-list">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Periodicals.FirstOrDefault().Title)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Periodicals.FirstOrDefault().PublicationFrequencyDays)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Periodicals.FirstOrDefault().Description)
                        </th>
                        <th>
                            Автор
                        </th>
                        <th>
                            Жанр
                        </th>
                        <th>
                            Операции
                        </th>
                    </tr>

                    @foreach (var item in Model.Periodicals)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PublicationFrequencyDays)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                                @Html.HiddenFor(modelItem => item.Text)
                            </td>
                            <td>
                                @Html.ActionLink(item.Author.FullName, "Details", "Author", item.Author, new { id = item.Author.Id })
                            </td>
                            <td>
                                @foreach (var genre in item.Genres)
                                {
                                    @Html.ActionLink(genre.Title, "Details", "Genre", genre, new { id = genre.Id })<br>
                                }
                            </td>
                            <td>
                                @if (User.IsInRole("Admin"))
                                {
                                    @Html.ActionLink("Редактировать", "Edit", new { id = item.Id })<spans> | </spans>
                                }
                                @Html.ActionLink("Инфо", "Details", new { id = item.Id })
                                @if (User.IsInRole("Admin"))
                                {
                                    <spans> | </spans>@Html.ActionLink("Удалить", "Delete", new { id = item.Id })
                                }
                            </td>
                        </tr>
                    }

                </table>
                <br>
                <div class="btn-group">
                    @Html.PageLinks(Model.PageInfo, x => Url.Action("GetAll", new { page = x }))
                </div>
            </div>
        </div>
    </div>
</div>