﻿@model Web_mvc.Models.AuthorViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>AuthorViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NickName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NickName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Avatar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Avatar)
        </dd>

    </dl>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Periodicals.First().Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Periodicals.First().PublicationFrequencyDays)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Periodicals.First().Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Periodicals.First().Description)
            </th>
            <th></th>
        </tr>

        @foreach (var periodical in Model.Periodicals)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => periodical.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => periodical.PublicationFrequencyDays)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => periodical.Text)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => periodical.Description)
                </td>
                <td>
                    @if (User.IsInRole("Admin") || User.IsInRole("Author"))
                    {
                        @Html.ActionLink("Edit", "Edit", "Periodical", periodical, new { id = periodical.Id })<span> |</span>
                    }
                    @Html.ActionLink("Details", "Details", "Periodical", periodical, new { id = periodical.Id })
                    @if (User.IsInRole("Admin") || User.IsInRole("Author"))
                    {
                        <span> |</span>@Html.ActionLink("Delete", "Delete", "Periodical", periodical, new { id = periodical.Id })
                    }
                    </td>
            </tr>
        }

    </table>
</div>
<p>
    @if (User.IsInRole("Admin") || User.IsInRole("Author"))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id })<span> |</span>
    }
    <a href="@ViewBag.returnUrl">Назад</a>
</p>
