﻿@model IEnumerable<Web_mvc.Models.AuthorViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

<table class="table">
    <tr>
        <th>
            Автор
        </th>
        <th>
            Издания
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
                <br />
                @Html.DisplayFor(modelItem => item.NickName)
                <br />
                @Html.DisplayFor(modelItem => item.Avatar)
            </td>
            <td>
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Periodicals.First().Title)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Periodicals.First().PublicationFrequencyDays)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Periodicals.First().Text)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Periodicals.First().Description)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var periodical in item.Periodicals)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => periodical.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => periodical.PublicationFrequencyDays)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => periodical.Text)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => periodical.Description)
                            </td>
                            <td>
                                @if (User.IsInRole("Admin") || User.IsInRole("Author"))
                                {
                                    @Html.ActionLink("Edit", "Edit", "Periodical", periodical, new { id = periodical.Id })<spans> |</spans>
                                }
                                @Html.ActionLink("Details", "Details", "Periodical", periodical, new { id = periodical.Id })
                                @if (User.IsInRole("Admin") || User.IsInRole("Author"))
                                {
                                    <spans> |</spans>@Html.ActionLink("Delete", "Delete", "Periodical", periodical, new { id = periodical.Id })
                                }
                                </td>
                        </tr>
                    }

                </table>
            </td>
            <td>
                @if (User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })<spans> |</spans>
                }
                @Html.ActionLink("Details", "Details", new { id = item.Id })
                @if (User.IsInRole("Admin"))
                {
                   <spans> |</spans>@Html.ActionLink("Delete", "Delete", new { id = item.Id })
                }
                </td>
        </tr>
    }

</table>
