﻿@{
    ViewBag.Title = "Home Page";
}

<div class="section section-white">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3>Каталог периодических изданий</h3>
                <p>
                    Данный каталог позволяет пользователям зарегистрироваться и просматривать издания различных авторов.
                </p>
                <h3>Возможности</h3>
                <p>
                    Любой пользователь может зарегистрировать себя как автор и не только читать издания, но и загружать свои.
                </p>
            </div>
            <div class="col-md-6">
                <div class="video-wrapper">
                    <iframe src="http://player.vimeo.com/video/55298400?title=0&amp;byline=0&amp;portrait=0" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>