﻿@model Web_mvc.Models.GenreViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>GenreViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

    </dl>
</div>
<p>
    @if(User.IsInRole("Admin") || User.IsInRole("Author")){
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id })<span> |</span>
    }
    
    <a href="@ViewBag.returnUrl">Назад</a>
</p>
