﻿<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="mainmenu-wrapper">
        <div class="container">
            <div class="extras">
                @Html.Partial("_LoginPartial")
            </div>
            <nav id="mainmenu" class="mainmenu">
                <ul>
                    <li class="logo-wrapper"><a href="@Url.Action("Index", "Home")"><img src="~/img/mPurpose-logo.png" alt="Logo"></a></li>
                    <li class="active">@Html.ActionLink("Home", "Index", "Home")</li>
                    @if (User.IsInRole("Author"))
                    {
                        <li>@Html.ActionLink("Мои издания", "Index", "Periodical")</li>
                    }
                    <li>@Html.ActionLink("Издания", "GetAll", "Periodical")</li>
                    <li>@Html.ActionLink("Авторы", "Index", "Author")</li>
                    <li>@Html.ActionLink("Жанры", "Index", "Genre")</li>
                    @*<li>@Html.ActionLink("О сайте", "About", "Home")</li>*@
                    @*<li>@Html.ActionLink("Связь", "Contact", "Home")</li>*@
                </ul>
            </nav>
        </div>
    </div>
    @RenderBody()
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-footer col-md-3 col-xs-6 text-center">
                    <h3>Навигация</h3>
                    <ul class="no-list-style footer-navigate-section">
                        <li>@Html.ActionLink("Авторы", "Index", "Author")</li>
                        <li>@Html.ActionLink("Издания", "GetAll", "Periodical")</li>
                        <li>@Html.ActionLink("Жанры", "Index", "Genre")</li>
                        <li>@Html.ActionLink("О сайте", "About", "Home")</li>
                        <li>@Html.ActionLink("Связь", "Contact", "Home")</li>
                    </ul>
                </div>

                <div class="col-footer col-md-6 col-xs-6 text-center">
                    <h3>Контакты</h3>
                    <p class="contact-us-details">
                        <b>Телефон:</b> +38(063)588-66-05<br />
                        <b>Email:</b> <a href="mailto:oserleon@gmail.com">oserleon@gmail.com</a>
                    </p>
                </div>
                <div class="col-footer col-md-3 col-xs-6 text-center">
                    <h3>Социальные сети</h3>
                    <ul class="footer-stay-connected no-list-style">
                        <li><a href="#" class="facebook"></a></li>
                        <li><a href="#" class="twitter"></a></li>
                        <li><a href="#" class="googleplus"></a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="footer-copyright">&copy; @DateTime.Now.Year - All rights reserved.</div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquerys")
    @Scripts.Render("~/bundles/main-menu")
    @Scripts.Render("~/bundles/template")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
